In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.optimize import fmin_tnc

from sklearn.model_selection import train_test_split
from LogisticRegression import *
from warnings import filterwarnings
filterwarnings("ignore")

%matplotlib inline

In [2]:
data = pd.read_csv("./cleaned.csv")
del data['Unnamed: 0']
data.head()

,community,age,weight1,history,HB,IFA,BP1,education,res,reslt
0,1,26.0,37.000000,1.0,5.9,1,1.444444,5.0,1.0,0
1,1,21.0,42.000000,1.0,9.2,1,1.375000,5.0,1.0,0
2,1,21.0,36.071429,1.0,8.8,1,1.500000,5.0,1.0,0
3,1,21.0,36.071429,1.0,9.2,1,2.125000,5.0,1.0,0
4,1,21.0,36.071429,1.0,8.0,1,1.375000,5.0,1.0,0

In [3]:
feature_cols = ['community', 'age', 'weight1', 'history','HB','IFA','BP1', 'res']

# Features
X = data[feature_cols] 

# Label
y = data['reslt']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [5]:
X_train = np.c_[np.ones((X_train.shape[0], 1)), X_train]
X_test = np.c_[np.ones((X_test.shape[0], 1)), X_test]
y_train = y_train[:, np.newaxis]
y_test = y_test[:, np.newaxis]
theta = np.zeros((X_train.shape[1], 1))
parameters = fit(X_train, y_train, theta)
accuracy(parameters, y_test.flatten())

74.19354838709677

In [6]:
from sklearn.model_selection import KFold
kf = KFold(5, True)

kf.get_n_splits(X)

averageLog = 0
for i in range(10):
    for train_index, test_index in kf.split(X):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        X_train = np.c_[np.ones((X_train.shape[0], 1)), X_train]
        X_test = np.c_[np.ones((X_test.shape[0], 1)), X_test]
        y_train = y_train[:, np.newaxis]
        y_test = y_test[:, np.newaxis]
        theta = np.zeros((X_train.shape[1], 1))
        parameters = fit(X_train, y_train, theta)
        averageLog += accuracy(parameters, y_test.flatten())        
        
print("Logistic Regression:- ", averageLog/50)

Logistic Regression:-  74.26190476190476